# Discord Bot
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_LOG_CHANNEL_ID=
DISCORD_ALLOWED_ROLE_ID=

# Minecraft Server
MC_HOST=
MC_PORT=25565
MC_USERNAME=
MC_PASSWORD=
MC_VERSION=1.20.1
