# Discord Bot
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=1508068507340771408
DISCORD_LOG_CHANNEL_ID=
DISCORD_LIVE_CHANNEL_ID=1511341355647893667

# Minecraft Server
MC_HOST=
MC_PORT=25565
MC_USERNAME=
MC_PASSWORD=
MC_VERSION=1.21
